body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: white;
}

.header {
    background: #d00000;
    padding: 15px;
    text-align: center;
    color: white;
}

.logo {
    width: 70px;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.banner-section {
    text-align: center;
    padding: 20px;
}

.banner-img {
    width: 80%;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

.trophy-table {
    border-collapse: collapse;
    width: 100%;
}

.trophy-table th, .trophy-table td {
    border: 1px solid black;
    padding: 8px;
}

.player-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;           
    flex-wrap: wrap;     
    margin-bottom: 20px;
}


.player-gallery img {
    width: 200px;       
    height: 200px;      
    object-fit: cover;  
    border-radius: 10px;
    border: 3px solid #d00000; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}


.player-gallery img:hover {
    transform: scale(1.05);
}


.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #fff3cd;
    border: 2px solid #ffe58f;
    border-radius: 8px;
}